[submodule "lib/cookbooks/sanitize"]
	path = lib/cookbooks/sanitize
	url = git://github.com/3ofcoins/chef-cookbook-sanitize.git
[submodule "lib/cookbooks/nginx"]
	path = lib/cookbooks/nginx
	url = git://github.com/opscode-cookbooks/nginx.git
[submodule "lib/cookbooks/build-essential"]
	path = lib/cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "lib/cookbooks/runit"]
	path = lib/cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "lib/cookbooks/bluepill"]
	path = lib/cookbooks/bluepill
	url = git://github.com/opscode-cookbooks/bluepill.git
[submodule "lib/cookbooks/ohai"]
	path = lib/cookbooks/ohai
	url = git://github.com/opscode-cookbooks/ohai.git
[submodule "lib/cookbooks/php"]
	path = lib/cookbooks/php
	url = git://github.com/opscode-cookbooks/php.git
[submodule "lib/cookbooks/apt"]
	path = lib/cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "lib/cookbooks/yum"]
	path = lib/cookbooks/yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "lib/cookbooks/php-fpm"]
	path = lib/cookbooks/php-fpm
	url = git://github.com/yevgenko/cookbook-php-fpm.git
[submodule "lib/cookbooks/mysql"]
	path = lib/cookbooks/mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "lib/cookbooks/postgresql"]
	path = lib/cookbooks/postgresql
	url = git://github.com/opscode-cookbooks/postgresql.git
[submodule "lib/cookbooks/sqlite"]
	path = lib/cookbooks/sqlite
	url = git://github.com/opscode-cookbooks/sqlite.git
[submodule "lib/cookbooks/xfs"]
	path = lib/cookbooks/xfs
	url = git://github.com/opscode-cookbooks/xfs.git
[submodule "lib/cookbooks/database"]
	path = lib/cookbooks/database
	url = git://github.com/opscode-cookbooks/database.git
[submodule "lib/cookbooks/aws"]
	path = lib/cookbooks/aws
	url = git://github.com/opscode-cookbooks/aws.git
[submodule "lib/cookbooks/openssl"]
	path = lib/cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "lib/cookbooks/unicorn"]
	path = lib/cookbooks/unicorn
	url = git://github.com/opscode-cookbooks/unicorn.git
