[submodule "lib/cookbooks/sanitize"]
	path = lib/cookbooks/sanitize
	url = git://github.com/3ofcoins/chef-cookbook-sanitize.git
[submodule "lib/cookbooks/nginx"]
	path = lib/cookbooks/nginx
	url = git://github.com/opscode-cookbooks/nginx.git
[submodule "lib/cookbooks/build-essential"]
	path = lib/cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "lib/cookbooks/runit"]
	path = lib/cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "lib/cookbooks/bluepill"]
	path = lib/cookbooks/bluepill
	url = git://github.com/opscode-cookbooks/bluepill.git
[submodule "lib/cookbooks/ohai"]
	path = lib/cookbooks/ohai
	url = git://github.com/opscode-cookbooks/ohai.git
[submodule "lib/cookbooks/php"]
	path = lib/cookbooks/php
	url = git://github.com/opscode-cookbooks/php.git
[submodule "lib/cookbooks/apt"]
	path = lib/cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "lib/cookbooks/yum"]
	path = lib/cookbooks/yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "lib/cookbooks/php-fpm"]
	path = lib/cookbooks/php-fpm
	url = git://github.com/yevgenko/cookbook-php-fpm.git
